<ion-view title="Pliki" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="pliki-button-bar1" class="button-bar">
      <button id="pliki-button6" style="font-weight:300;" class="button button-dark button-block button-outline icon ion-alert"> No 1</button>
      <button id="pliki-button7" class="button button-positive button-block button-outline">2</button>
      <button id="pliki-button8" class="button button-positive button-block button-outline">3</button>
    </div>
    <form id="pliki-form2" class="list">
      <label class="item item-input" id="pliki-input3">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="pliki-select1">
        <span class="input-label">Select</span>
        <select></select>
      </label>
      <button id="pliki-button10" class="button button-dark button-block">Tap me!</button>
    </form>
  </ion-content>
</ion-view>